interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.finnhub.io/api/v1//company-news?from=2026-05-03&symbol=600519.SS&to=2026-05-10
  response:
    body:
      string: '{"error":"You don''t have access to this resource."}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: http://finance.eastmoney.com/a/202605073730238935.html
  response:
    body:
      string: ''
    headers:
      EO-LOG-UUID:
      - '680040185783217023'
      Location:
      - https://finance.eastmoney.com/a/202605073730238935.html
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://finance.eastmoney.com/a/202605073730238935.html
  response:
    body:
      string: "\r\n\r\n<!DOCTYPE html>\r\n<!--published at 2026/5/10 7:22:22 by finance.eastmoney.com
        server-xml ZP NEWS 163-->\r\n<html lang=\"en\">\r\n<head>\r\n    <meta charset=\"UTF-8\">\r\n
        \       <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\"
        />\r\n    <meta name=\"renderer\" content=\"webkit\" />\r\n    <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" />\r\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\">\r\n    <meta name=\"mobile-agent\" content=\"format=html5;
        url=https://wap.eastmoney.com/a/202605073730238935.html\">\r\n        <title>\u8D35\u5DDE\u8305\u53F0\uFF1A4\u6708\u516C\u53F8\u7D2F\u8BA1\u56DE\u8D2D\u80A1\u4EFD28.91\u4E07\u80A1
        _ \u4E1C\u65B9\u8D22\u5BCC\u7F51</title>\r\n        <meta name=\"keywords\"
        content=\"\u56DE\u8D2D\u80A1\u4EFD,\u7D2F\u8BA1,\u8D35\u5DDE\u8305\u53F0,\u516C\u53F8,\u91D1\u989D,\u6BD4\u4F8B,\u80A1\u672C,\u652F\u4ED8,\u516C\u544A,600519.SH\"
        />\r\n        <meta name=\"description\" content=\"\u3010\u8D35\u5DDE\u8305\u53F0\uFF1A4\u6708\u516C\u53F8\u7D2F\u8BA1\u56DE\u8D2D\u80A1\u4EFD28.91\u4E07\u80A1\u3011\u8D35\u5DDE\u8305\u53F0(600519.SH)\u516C\u544A\u79F0\uFF0C4\u6708\uFF0C\u516C\u53F8\u7D2F\u8BA1\u56DE\u8D2D\u80A1\u4EFD28.91\u4E07\u80A1\uFF0C\u5360\u516C\u53F8\u603B\u80A1\u672C\u7684\u6BD4\u4F8B\u4E3A0.0231%\uFF0C\u652F\u4ED8\u7684\u91D1\u989D\u4E3A4.09\u4EBF\u5143\u3002\u622A\u81F32026\u5E744\u6708\u5E95\uFF0C\u516C\u53F8\u5DF2\u7D2F\u8BA1\u56DE\u8D2D\u80A1\u4EFD108.33\u4E07\u80A1\uFF0C\u5360\u516C\u53F8\u603B\u80A1\u672C\u7684\u6BD4\u4F8B\u4E3A0.0865%\uFF0C\u5DF2\u652F\u4ED8\u7684\u603B\u91D1\u989D\u4E3A15.21\u4EBF\u5143\u3002\"
        />\r\n            <meta name=\"robots\" content=\"noindex, nofollow\">\r\n
        \   <meta name=\"referrer\" content=\"always\">\r\n    <style type=\"text/css\">\r\n
        \       .em_xuangu{display:block !important;}\r\n    </style>\r\n    <script
        type=\"text/javascript\">\r\n        var __allow_likes_state= \"0\";\r\n        var
        __IsBeforeLoad = false;\r\n        var __WAPURL = \"https://wap.eastmoney.com/a/202605073730238935.html\";\r\n
        \       var _NewsId = '202605073730238935';\r\n        var _us_zixun_Id =
        '202605073730238935';\r\n        var __VideoAdvSwitch = '1';\r\n        var
        _HideAd[...]
[...]
